<div class="container py-4">
  <div class="row mt-5 mb-5">
    <div class="col-md-2"></div>
    <div class="col">
      <form action="https://formsubmit.co/renzo.davila@tecsup.edu.pe" method="POST">
        <div class="mb-3">
          <label class="form-label" for="name">Nombre</label>
          <input class="form-control" type="text" name="name" placeholder="Nombre" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="emailAddress">Correo</label>
          <input class="form-control" type="email" name="email" placeholder="Correo" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="number">Teléfono</label>
          <input class="form-control" type="text" name="number" placeholder="999 999 999" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="message">Mensaje</label>
          <textarea class="form-control" type="text" name="message" placeholder="Mensaje"
            style="height: 10rem;"></textarea>
        </div>
        <div class="d-grid mt-3">
          <button class="btn btn-outline-dark btn-lg mt-3" type="submit">Enviar</button>
        </div>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<div class="row mt-5 mb-5">
  <div class="col-md-3"></div>
  <div class="col-md-3">
    <div class="dbox w-100 text-center">
      <div class="icon d-flex align-items-center justify-content-center">
        <span class="fa fa-phone"></span>
      </div>
      <div class="text">
        <p><span>Celular: </span> <a href="tel://959448077">959448077</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="dbox w-100 text-center">
      <div class="icon d-flex align-items-center justify-content-center">
        <span class="fa fa-paper-plane"></span>
      </div>
      <div class="text">
        <p><span>Correo: </span> <a href="mailto:example@example.com">example@example.com</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
